body,
html {
    height: 100%;
    background: url("public/bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fonty {
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 55px;
    color: rgba(255, 255, 255, 0.945);
}

.fonty2 {
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 35px;
    color: rgba(248, 113, 34, 0.781);
}