body,
html {
    height: 100%;
    background: url("public/bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fonty {
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 50px;
    color: rgb(226, 225, 225);
}

.fonty2 {
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 35px;
    color: rgba(253, 153, 60, 0.733);
}